*{
    background: #333;
}

.mainheader {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: red;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    height: 65;
    display: inline-block;
}
  
li.navitem {
    float: left;
    border-right:1px solid #bbb;
    width: 100px;
    background: #555;
}
  
li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background: #333;
}
  
li.navitem a:hover {
    background-color: #111;
}
  
.active {
    background-color: #4CAF50;
}

.navitem:last-child {
  border-right: none;
}

p.text1 {
  color: #bbb;
  text-align: center;
  font-size: 25px;
}

 .menuicon {
  height: 45px;
  width: 50px;
  box-sizing: border-box;
  display: inline-block;
}

.menubar {
  background: #bbb;
  height: 6px;
  margin: 5px;
  border-radius: 4.5px;
  color: #bbb;
  overflow: hidden;
}

.menubar::selection {
  background: #bbb;
  color: #bbb;
}

.menubar::-moz-selection {
  background: #bbb;
  color: #bbb;
}

::selection {
  background: #8B0000;
  color: #bbb
}

li.navitem a::selection {
  background: #555;
}

hr {
  height: 2px;
  background-color: #bbb;
}

#aboutText {
  display: inline-block;
  width: 70%;
  margin: auto;
  position: relative;
  left: 15%;
}