*{
    background: #333;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.mainheader {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: red;
    font-size: 35px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 65;
    display: inline-block;
}
  
li.navitem {
    float: left;
    border-right:1px solid #bbb;
    width: 115px;
    height: 40px;
    background: #333;
}
  
li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5%;
    text-decoration: none;
}
  
li.navitem a:hover {
    background-color: #111;
}

.navitem:last-child {
  border-right: none;
}

p.text1 {
  color: #bbb;
  text-align: center;
  font-size: 1.625em;
}

 .menuicon {
  height: 45px;
  width: 50px;
  box-sizing: border-box;
  display: inline-block;
}

.menubar {
  background: #bbb;
  height: 6px;
  margin: 5px;
  border-radius: 4.5px;
  color: #bbb;
  overflow: hidden;
}

.menubar::selection {
  background: #bbb;
  color: #bbb;
}

.menubar::-moz-selection {
  background: #bbb;
  color: #bbb;
}

::selection {
  background: #8B0000;
  color: #bbb
}

li.navitem a::selection {
  background: #555;
}

hr {
  height: 2px;
  background-color: #bbb;
}

#aboutText {
  display: inline-block;
  width: 70%;
  margin: auto;
  position: relative;
  left: 15%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}