*{
    background: deepskyblue;
}

.mainheader {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: red;
}

.navbar {
    padding: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333
}

.navitem {
    box-sizing: border-box;
    color: red;
    float: left;
    border-right: 1px solid #bbb
}

.navitem:last-child {
    border-right: none;
}

li.navitem a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}

li.navitem a:hover {
    background: #111;
}

.active {
    background-color: #4CAF50;
}